.header {
  box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.2);
}
.navbar {
  /* padding: 40px 0; */
  /* height: 46px; */
  box-shadow: #000000
  25%;
  /* background-color: red; */
}
.parent {
  gap: 16px;
}
.parent .nav_link {
  text-decoration: none;
  color: #000;
  font-size: 18px;
  font-weight: 600;
}
.nav_link.active {
  color: #179c6c;
}
.nav__icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.nav__icons svg {
  width: 33.33px;
  height: 33.33px;
  border-radius: 50%;
  color: var(--main-color);
  cursor: pointer;
}


